<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!-- 

                Implement a way to filter through listings using the search bar 

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchValue" ng-keyup="filterData()" />
          </div>
          <div class="tableWrapper">
            <table class="table table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th>
                  <button type="addButton" data-toggle="modal" data-target="#myAddModal">Add</button>
                </th>
              </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="list in listings" ng-click="showDetails($index)">
                  <div>
                    <th scope="row">{{list.code}}</th>
                    <td>{{list.name}}</td>
                    <td>
                      <button type="deleteButton" ng-click="deleteListing($index)">Delete</button>
                    </td>
                  </div>
                </tr>
              </tbody>
              <!-- 

                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings

                --> 
            </table>
          </div>
          <!-- 

              Write an HTML form that adds new listings to the directory 

            -->
          <div class="modal fade" id="myAddModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- AddModal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">New Listing</h4>
                </div>
                <div class="modal-body">
                  <div class="input-group" id="codeBar">
                    <span class="input-group-addon" id="sizing-addon1">Code</span></span>
                    <input type="text" class="form-control" placeholder="" ng-model="newCodeValue"/>
                  </div>
                  <p></p>
                  <div class="input-group" id="nameBar">
                    <span class="input-group-addon" id="sizing-addon1">Name</span></span>
                    <input type="text" class="form-control" placeholder="" ng-model="newNameValue"/>
                  </div>
                  <p></p>
                  <div class="input-group" id="addressBar">
                    <span class="input-group-addon" id="sizing-addon1">Address</span></span>
                    <input type="text" class="form-control" placeholder="" ng-model="newAddressValue"/>
                  </div>
                  <p></p>
                  <div class="input-group" id="latitudeBar">
                    <span class="input-group-addon" id="sizing-addon1">Latitude</span></span>
                    <input type="text" class="form-control" placeholder="" ng-model="newLatitudeValue"/>
                  </div>
                  <p></p>
                  <div class="input-group" id="longitudeBar">
                    <span class="input-group-addon" id="sizing-addon1">Longitude</span></span>
                    <input type="text" class="form-control" placeholder="" ng-model="newLongitudeValue"/>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary mr-auto" data-dismiss="modal" ng-click="addListing()">Add</button>
                </div>
              </div>
              
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2>Detailed Information</h2>
            <!-- 

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
             <li ng-if="!detailedInfo">
              Select a row to learn more!
            </li>
            <div ng-if="detailedInfo">
              <li ng-if="detailedInfo.code">
                Code: {{detailedInfo.code}}
              </li>
              <li ng-if="detailedInfo.name">
                Building Name: {{detailedInfo.name}}
              </li>
              <li ng-if="detailedInfo.address">
                Address: {{detailedInfo.address}}
              </li>
              <li ng-if="detailedInfo.coordinates.latitude">
                Latitude: {{detailedInfo.coordinates.latitude}}
              </li>
              <li ng-if="detailedInfo.coordinates.longitude">
                Longitude: {{detailedInfo.coordinates.longitude}}
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>